.bookingPanel {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    &-row {
        padding: 1rem 1rem;
    }
}

.bookingGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}